# Python
*.pyc
__pycache__/
requirements.txt

# Virtual environment
venv/

# Ruby
*.gem
*.rbc
.ruby-version
.ruby-gemset
/.bundle
/log/*
/tmp/*
/config/master.key

# Rails
public/assets
/public/packs
